@model IEnumerable<RabbitApplication.Models.CandidateModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Candidates</h1>

<table class="table">
    <thead>
        <tr>
         <th>
                @Html.DisplayNameFor(model => model.JobProfileName)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
          
           
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlternateMobile)
            </th>
       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
              <td>
                @Html.DisplayFor(modelItem => item.JobProfileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlternateMobile)
            </td>
       
            <td>
                @*<a asp-action="DownloadFiles" asp-route-id="@item.CandidateId">DownloadFiles</a>
                &nbsp;*@
                <a asp-action="View" asp-route-id="@item.CandidateId">Details</a>

                @*   <a asp-action="ViewFiles" asp-route-id="@item.CandidateId">View Files</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
