@model RabbitApplication.Models.CandidateModel
@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<div class="container">
	<main role="main" class="pb-3">
		<div>
			
			<div>
				<form method="post" action="@Url.Action("JobApply","Candidate")">
			<br /><br /><br /><br />
			<div style="background-color:#ddd; padding:10px">
				Personal Details
			</div>
			<div style="border:1px solid #ddd; padding:10px;">
					<div class="row">
				<div class="col-md-4">
					<label for="inputEmail4">Title</label>
					@Html.TextBoxFor(m=>m.Title, new { @class = "form-control"})
				</div>
				<div class="col-md-4">
					<label for="inputPassword4">First Name</label>
					@Html.TextBoxFor(m=>m.Fname, new { @class = "form-control"})
				</div>
				@*<div class="col-md-3">
					<label for="inputPassword4">Middle Name</label>
					@Html.TextBoxFor(m=>m.Mname, new { @class = "form-control"})
					</div>*@
				<div class="col-md-4">
					<label for="inputPassword4">Last Name</label>
					@Html.TextBoxFor(m=>m.Gender, new { @class = "form-control"})
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<label for="inputPassword4">Gender</label>
					@Html.TextBoxFor(m=>m.Gender, new { @class = "form-control"})
				</div>
				<div class="col-md-4">
					<label for="inputPassword4">Date of Birth</label>
					@Html.TextBoxFor(m=>m.DOB, new { @class = "form-control"})
				</div>
				
			</div>


			<div class="row">
				<div class="col-md-4">
					<label for="inputPassword4">Mobile Number</label>
					@Html.TextBoxFor(m=>m.Mobile, new { @class = "form-control"})
				</div>
				<div class="col-md-4">
					<label for="inputPassword4">Alternate Mobile No</label>
					@Html.TextBoxFor(m=>m.AlternateMobile, new { @class = "form-control"})
				</div>
				<div class="col-md-4">
					<label for="inputPassword4">Caste</label>
					@Html.TextBoxFor(m=>m.Caste, new { @class = "form-control"})
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label for="inputAddress">Present Address</label>
					@Html.TextBoxFor(m=>m.PresentAddress, new { @class = "form-control"})
				</div>
				<div class="col-md-6">
					<label for="inputAddress">Permanent Address</label>
					@Html.TextBoxFor(m=>m.PermanentAddress, new { @class = "form-control"})
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label for="inputAddress">City</label>
					@Html.TextBoxFor(m=>m.City, new { @class = "form-control"})
				</div>
				<div class="col-md-6">
					<label for="inputAddress">Zip</label>
					@Html.TextBoxFor(m=>m.Pincode, new { @class = "form-control"})
				</div>
			</div>

			<div class="form-row">
				@Html.HiddenFor(m=>m.CandidateId)
				@Html.HiddenFor(m=>m.JobProfileId)

			</div>


			@*<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCity">City</label>
					@Html.TextBoxFor(m=>m.City, new { @class = "form-control"})
				</div>
				 <div class="form-group col-md-4">
					<label for="inputState">State</label>
					<select id="inputState" class="form-control">
					<option selected>Choose...</option>
					<option>...</option>
					</select>
					</div>
				<div class="form-group col-md-2">
					<label for="inputZip">Zip</label>
					@Html.TextBoxFor(m=>m.Pincode, new { @class = "form-control"})
				</div>
			</div>*@
			@*  <div class="form-group">
				<div class="form-check">
				<input class="form-check-input" type="checkbox" id="gridCheck">
				<label class="form-check-label" for="gridCheck">
				Check me out
				</label>
				</div>
				</div>*@
				<br/><br/>
			<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		
		</form>
			</div>
		</div>
		

	</main>
</div>