@model RabbitApplication.Models.LoginDetailsModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_CandidateLayout.cshtml";
}

<div class="container">
        <main role="main" class="pb-3">
            

<h1>Log in</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" novalidate="novalidate" action="@Url.Action("Login","Candidate")" >

                <h4>@ViewBag.UserAdded</h4>

                <hr>
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>
                <div class="form-group">
                    <label for="Input_Email">Email</label>
                      @Html.TextBoxFor(m=>m.Username, new { @class = "form-control"})
                </div>
                <div class="form-group">
                    <label for="Input_Password">Password</label>
                      @Html.TextBoxFor(m=>m.Password, new { @class = "form-control"})
                </div>
               
                <div class="form-group">
                    <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                 @*   <p>
                        <a id="forgot-password" href="/Identity/Account/ForgotPassword">Forgot your password?</a>
                    </p>*@
                    <p>
                        <a href="@Url.Action("Register","Candidate")">Register as a new user</a>
                    </p>
                </div>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8NM3YyKG8BdKhP1Y77qPnKd3lQg1RY9lT8SF9AlFLZVisTzB6_Q5NazBy_1ePk_G-o3jBdHhRyxLBRy_3zR3uGcFLG2ejqv-AVbFrq0uYiy02wEGddCq-v5xVv-PePTDa3RVjnf9bsUjd64Uk7Lt7XE"><input name="Input.RememberMe" type="hidden" value="false"></form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
      @*  <section>
            <h4>Use another service to log in.</h4>
            <hr>
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
        </section>*@
    </div>
</div>


        </main>
    </div>
