@model RabbitApplication.Models.RegistrationModel
@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<section id="services" class="services">
	<div class="container" data-aos="fade-up">
		<header class="section-header">
			<h2>Create a new account.</h2>
			<p>On registering, you can apply for a job</p>
		</header>
		<div class="row gy-4 shadow-lg p-5 bg-light">
			<div class="col-lg-4 col-md-4 col-lg-offset-2" data-aos="fade-up" data-aos-delay="200">
				<form id="registerForm" method="post" action="@Url.Action("Register", "Candidate")" novalidate="novalidate">

					<div class="form-group">
						<label for="Input_Email">Email</label>
						@Html.TextBoxFor(m=>m.Email, new { @class = "form-control"})
						@Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })

					</div>
					<div class="form-group">
						<label for="Input_Password">Password</label>
						@Html.PasswordFor(m=>m.Password, new { @class = "form-control"})
						@Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })

					</div>
					<div class="form-group">
						<label for="Input_ConfirmPassword">Confirm password</label>
						@Html.PasswordFor(m=>m.ConfirmPassword, new { @class = "form-control"})
						@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })

					</div>
					<br />
					<button id="registerSubmit" type="submit" class="btn btn-primary pull-right">Register</button>
				</form>
			</div>
		</div>
	</div>
</section>




