@model IEnumerable<RabbitApplication.Models.JobProfileModel>

@{
	ViewData["Title"] = "Careers";
	Layout = "~/Views/Shared/_GuestLayout.cshtml";
}


<main id="main">
	<br /><br />
	<section id="values" class="values">
		<div class="container" data-aos="fade-up">
			<header class="section-header">
				<p>Open Positions</p>
				<br/>
				<h2>We are always looking for creative, talented and passionate people.</h2>
				
			</header>

			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
						<div class="box">
							<img src="~/Website/assets/img/values-1.png" class="img-fluid" alt="">
							<h3>@Html.DisplayFor(modelItem => item.Name)</h3>
								<h5>Number of positions : @Html.DisplayFor(modelItem => item.NumberOfPositions)</h5>
							@*<p>	@Html.Raw(item.Description)</p>*@
							<span style="">
								<a href="@Url.Action("CareersDetails","JobProfile", new {id = item.JobProfileId})" class="btn-sm btn-primary pull-right"> View Details </a>
								&nbsp

							@*	@if (User.Identity.IsAuthenticated)
								{
									<a href="@Url.Action("Details", "Candidate", new {@id = item.JobProfileId})" class="btn-sm btn-primary pull-right"> Apply </a>
								}
								else
								{
									<a href="@Url.Action("Login", "Candidate")" class="btn-sm btn-primary pull-right"> Apply </a>
								}*@
							</span>
						</div>
					</div>

				}

			</div>
		</div>
	</section>
</main>



